.documents-cards-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.documents-cards-button {
    background-color: #FFF;
    color: #000;
    border: 1.5px solid #fff;
    font-size: 17px;
    padding: 14px 12px;
    border-radius: 6px;
    margin: 6px;
}

.documents-cards-button.active {
    background-color: #3CB8FF;
    color: #FFF;
    border: 1.5px solid #000;
}

.resident-type-dropdown {
    padding: 14px 55px;
    color: var(--Charcoal-Black, #3B3B3B);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border-radius: 4px;
    background: var(--White, #FFF);
}

.godrej-capital-container {
    border-radius: 4px;
    background: var(--Citrus-Light, #F0F6E4);
    max-width: 80%;
    margin: auto;
}

.kyc-document-blogs-wrapper {
    background-color: white;
    padding: 20px;
}

.kyc-document-blogs {
    background-color: var(--Citrus-Light, #F0F6E4);
    padding: 8px;
    border-radius: 4px;
}

.key-documents {
    background-color: white;
    padding: 1px 50px 20px 50px;
}